* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d4e5ee;
}

main {
  position: relative;
  width: 70vw;
  max-width: calc(100vh - 80px);
  display: flex;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
/* ======== */
/* Media Query for main tag adjustment */
/* ======== */
@media screen and (max-width: 1000px) {
  main {
    width: 700px;
  }
}
@media screen and (max-width: 720px) {
  body {
    position: relative;
    display: block;
    background-color: white;
  }
  main {
    position: static;
    background: #d4e5ee;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    width: 100vw;
    height: 90vh;
    padding: 0px;
  }
}
/* End of Media Query  */

.side-img {
  width: 25%;
}
@media screen and (max-width: 720px) {
  .side-img {
    content: url("./multi-step-form-main/assets/images/bg-sidebar-mobile.svg");
    width: 100%;
    position: absolute;
    top: 0;
  }

  .steps-section {
    display: none;
  }

  .constantAside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0 !important;
  }

  .constantAside div {
    margin-bottom: 0px !important;
  }

  .constantAside span {
    height: 80px;
    width: 80px;
    padding: 18px !important;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.constantAside {
  font-size: 11px;
  color: rgb(240, 234, 234);
  position: absolute;
  top: 50px;
  left: 50px;
}

.constantAside div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.constantAside span {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-section {
  margin-left: 15px;
  color: rgb(211, 206, 206);
}

.steps-section p:nth-child(2) {
  color: white;
}

/* Added CSS for Aside */
.new-aside-margin {
  margin-bottom: 30px;
}
